<h1 class="page-header">Search Results for <%= params[:q] %></h1>
<div class="beer-search-results">
  <p>Found <%= pluralize(@beers.length, 'beer') %></p>
  <% @beers.each do |result| %>
    <div class="result">
      <h1><%= link_to(result.name, result) %></h1>
    </div>
  <% end %>
  <div class="style-search-results">
    <p>Found <%= pluralize(@styles.length, 'style') %></p>
    <% @styles.each do |result| %>
    <div class="result">
      <%= link_to(result.name, result) %>
    </div>
    <% end %>
  </div>
</div>
