<%= render 'layouts/navbar2' %>
<div class="content-section beer-page">
  <div class="container">
    <div class="brewery-page">
      <div class="row">
        <%= image_tag(@brewery.large_image) %>
        <h1><%= @brewery.brewery_name %></h1>
        <p><b>Established: </b><%= @brewery.established %></p>
        <p><b>Phone: </b><%= @brewery.phone %></p>
        <p><b>Website: </b><%= link_to('www.therunofthemill.net', @brewery.website, target:'_blank') %></p>
        <p><b>Location Type: </b><%= @brewery.location_type %></p>
        <address>
          <%= @brewery.location_name %><br>
          <%= @brewery.street_address %><br>
          <%= @brewery.locality %>
          <%= @brewery.region %>,
          <%= @brewery.postal_code %><br>
        </address>
        <p><b>Open to public:</b> <%= @brewery.open_to_public %></p>
        <p><%= @brewery.hours %></p>
        <p><%= @brewery.brewery_description %></p>
      </div>
    </div>
  </div>
</div>
