<h1><%= @user.name if @user.name %></h1>
<p>Email: <%= @user.email if @user.email %></p>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Favorite Beers
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @user.name %>'s favorite</h4>
      </div>
      <div class="modal-body">
        <% @user.favorited_beers.each do |beer| %>
         <p><%= link_to(beer.name, beer) %> | <%= link_to '', favorite_path(beer.id), class:"fa fa-bomb", method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- when user favorites a beer that has already been favorited it doesn't duplicate beer buuut -->
  <!-- still shows the message that the beer has been favorited -->
<button class="btn btn-warning btn-lg" data-toggle="modal" data-target="#mymodalEditAccount">
<%= link_to('Edit My Account', edit_user_registration_path) %>
</button>
