<div class="container-fluid">
  <div class="nav_contain">
    <%= render 'layouts/navbar2' %>
    <div class="content-section">
      <div class="container main-box">
        <div class="beer-page">
          <div class="row">
            <div class="col-sm-12 main-beer beer">
              <h1><%= @brew.name %></h1>
              <!-- <%#= Brewery.first.beers.first.name %> -->
              <h4 class='h4-style'><%= @brew.style.category_name %></h4>
              <h4 class='h4-style'><%= @brew.style.style_name %></h4>
              <p>ABV: <%= @brew.abv == nil ? "n/a" : "#{@brew.abv}%" %></p>
              <p>Beer Description: <%= @brew.beer_description == nil ? "n/a" : @brew.beer_description %></p>
              <div class="row">
                <% if current_user %>
                  <% unless current_user.favorites.exists?(id: @brew.id) %>
                    <button type="button" class="btn btn-default btn-sm">
                      <%= link_to 'Add to favorites', favorites_path(beer_id: @brew), class: 'fa fa-beer', method: :post %>
                    </button>
                  <% else %>
                    <%= link_to 'Remove from favorites', favorites_path(@brew), method: :delete %>
                  <% end %>
                <% end %>
                <button type="button" class="btn btn-default btn-sm">
                  <%= link_to 'Back to style', style_path(@brew.style.id), class: 'fa fa-arrow-left' %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- when user favorites a beer that has already been favorited it doesn't duplicate beer  -->
<!-- but still shows the message beer favorited message -->
