<div class="beer-page">
  <h1><%= @brew.name %></h1>
  <h4><%= @brew.style.category_name %></h4>
  <h4><%= @brew.style.style_name %></h4>
  <p>ABV: <%= @brew.ABV %>%</p>
  <p>Beer Description: <%= @brew.beer_description %></p>
</div>
