<!DOCTYPE html>
<html>
<head>
  <title>Glass Over Flowing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default'>
  <ul class='nav navbar-nav'>
    <!-- <%= render 'layouts/navbar' %> -->
    <% if user_signed_in? %>
      <li><%= link_to('Home', user_path(current_user), class:'navbar-brand') %></li>
      <li><%= link_to('Beer', beers_path, class:'nav navbar-nav') %></li>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to('Sign Up', new_user_registration_path) %></li>
      <li><%= link_to('Sign In', new_user_session_path) %></li>
    <% end %>
  </ul>
</nav>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<section class='container'>
  <%= yield %>
</section>

</body>
</html>
